---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Joffrey Keravec" description="About Joffrey Keravec">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<!--  section pour remplacer la photo de la page about si necessaire
					<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>  Animé par la volonté de créer des expériences en ligne captivantes et conviviales. Mon parcours dans le domaine du développement web a commencé il y a peu, mais chaque ligne de code que je tape est empreinte de détermination et de curiosité.</p>	
						<p>Mon engouement pour le design me pousse à explorer les dernières tendances et à m'inspirer de diverses sources pour créer des interfaces esthétiques et intuitives. Je crois fermement que le design et le développement sont deux faces d'une même pièce, et j'aspire à maîtriser les deux aspects pour offrir des produits web complets et réussis.</p>	
						<br>
						<p><i> * Driven by the desire to create captivating and user-friendly online experiences. My journey in web development started recently, but every line of code I type is filled with determination and curiosity.</p>
						<p>My passion for design pushes me to explore the latest trends and draw inspiration from various sources to create aesthetic and intuitive interfaces. I firmly believe that design and development are two sides of the same coin, and I aspire to master both aspects to deliver complete and successful web products.</i></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>2023 : titre professionnel developpeur web et web mobile, O'clock</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills and character</h2>
				<div class="content">
					<p>Dev front, web design, sociable, motivated, team player and curious.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
