---
import Icon from './Icon.astro';
---

<section class="box skills">

	<div class="stack gap-2 lg:gap-4">
		<!-- <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		<h2>Front-end</h2>

			<div class="logoIcons">
				<div class="logoSec">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/sveltelogo.png" alt="svelte logo">	
					<h3>Svelte</h3>
				</div>	
				<div class="logoSec">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/htmllogo.png" alt="html logo">	
					<h3>HTML</h3>
				</div>		
				<div class="logoSec">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/csslogo.png" alt="css logo">	
					<h3>CSS</h3>
				</div>	
				<div class="logoSec">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/jslogo.png" alt="javascript logo">	
					<h3>JavaScript</h3>
				</div>							
			</div>
			
	</div>

	 <div class="stack gap-2 lg:gap-4">
		<!-- <Icon icon="palette" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		<h2>Back-End</h2>
			<div class="logoIcons">
				<div class="logoSecBe">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/phplogo.png" alt="php logo">	
					<h3>PHP</h3>
				</div>
				<div class="logoSecBe">
					<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/laravellogo.png" alt="laravel logo">	
					<h3>Laravel</h3>
				</div>	
			</div>
	</div> 

	<div class="stack gap-2 lg:gap-4">
		<!-- <Icon icon="palette" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		<h2>Web Design</h2>
		<!-- <Icon icon="figma" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		<div class="logoSecWd">
			<img class="techLogo" src="/JoffreyKeravecPortFolio/assets/figmalogo.png" alt="figma logo">	
			<h3>Figma</h3>
		</div>	
	</div>

</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.techLogo {
		width: 3em;
		}

	.logoIcons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.logoSecWd {
			display: flex;
    		align-items: center;
    		flex-direction: column;
		}

  	h3 { 
		font-size: 15px;
		margin-top: 10px;
		}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
			margin-bottom: 15px;
		}
		.techLogo {
			width: 5em;
		}

		.logoIcons {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}

		.logoSec {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
		}

		.logoSecWd {
			display: flex;
    		align-items: flex-start;
    		flex-direction: column;
		}

		.logoSecBe {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
		}

		h3 { 
			font-size: 20px;
			margin-top: 10px;
		}

		.logoSecWd h3 {
			margin-left: 10px;
		}

		
	}
</style>
